.logo{
  background-image: url('/img/background.jpg');
  height:700px;
  position: relative;
  margin-top: 20px;
}
.logo>div{
  position: absolute;
  top:50px;
  left:50px;
}
.loginBg{
  background-color:rgba(89,97,104,.15);;
  width:400px;
  height:420px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:150px;
  margin-left:200px;
}