function formatNumber(value){
  return value.toFixed(1);
}

function formatArray(array){
  var str='';
  // array.forEach(function(item){
  //   if(str==""){
  //     str=item.name
  //   }else{
  //     str+='/'+item.name
  //   }
  // })
  for(var n=0;n<array.length;n++){
    var arr=array[n];
    if(str==''){
      str=arr.name
    }else{
      str+='/'+arr.name
    }
  }
  return str;
}

module.exports={
  formatNumber:formatNumber,
  formatArray:formatArray
}